.bk{
	
	height: 900px;
	width: 1000px;
	
}

.xia{
	margin: -5px;
	display: inline-block;
	text-align: center;
}
.xia div{
		float: left;					
}
.x1{
	height: 450px;
	width: 33.33%;
	background-color: #eee2c8;
	float: left;
	display: inline-block;
	text-align: center;
}
.x2{
	height: 450px;
	width:  33.33%;
	background-color: #ddc69d;
	text-align: center;
}
.x3{
	height: 450px;
	width:  33.33%;
	background-color: #eee2c8;
}


.zt{	
	color: #737373;
	font-size: 14px;
	padding-bottom: 20px;
	border-bottom: 1px black solid;
	
	padding-left: 20px;
}
.ztx{
	text-align: center;
	margin-top: 50px;
}




